@model IEnumerable<ExamenFinal.Models.MultChoice>

@{
    ViewData["Title"] = "Answers";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Quiz</h2>
<ol>
    @foreach (var item in Model.Take(10))
    {
        <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 80%; border-radius: 8px; margin-top: 30px; background-color: #88f7f7; padding: 4px;">
            <div class="Question">
                <li> @Html.DisplayFor(modelItem => item.Question)</li>
            </div>

            <div class="Choices">
                <ol type="a">
                    <li>
                        <label class="radio-inline" style="vertical-align:top">
                            <input type="radio" name="@item.Id" id="@("A"+@item.Id)" value="@(item.HasTickA ? "yes" : "no")" /> @item.AnswerA
                        </label>
                    </li>
                    <li>
                        <label class="radio-inline" style="vertical-align:top">
                            <input type="radio" name="@item.Id" id="@("B"+@item.Id)" value="@(item.HasTickB ? "yes" : "no")" />  @item.AnswerB
                        </label>
                    </li>
                    <li>
                        <label class="radio-inline" style="vertical-align:top">
                            <input type="radio" name="@item.Id" id="@("C"+@item.Id)" value="@(item.HasTickC ? "yes" : "no")" />  @item.AnswerC
                        </label>
                    </li>
                    <li>
                        <label class="radio-inline" style="vertical-align:top">
                            <input type="radio" name="@item.Id" id="@("D"+@item.Id)" value="@(item.HasTickD ? "yes" : "no")" />  @item.AnswerD
                        </label>
                    </li>
                </ol>
                <span id="@("R"+@item.Id)"></span>
            </div>
        </div>
    }
</ol>

<span id="countPoints"></span><br />
<span id="noAnswer"></span><br />
<button type="button" id="SubmitQuiz" class="btn btn-default">Submit Quiz <span class="glyphicon glyphicon-ok"></span></button>
<button type="button" id="clear" class="btn btn-default">Clear answers</button>


<script>
    document.getElementById("SubmitQuiz").onclick = function () { myFunction() };
    function myFunction() {
        var points = 0;
        var noAnswer = 0;
        $('input:radio').each(function () {
            if ($(this).is(':checked')) {
                // Sum for good, substract for bad
                if ((this.value) == "yes") {
                    points++;
                }
                else {
                    points = points - 1 / 3;
                }
            }
            else {
                // Substract for no answer?
                noAnswer++;
                console.log(noAnswer);
            }
        });
        points = +(Math.round(parseFloat(points) + "e+2") + "e-2");
        noAnswer = ((40 - (40 - parseFloat(noAnswer)) * 4) / 4);
        document.getElementById("countPoints").innerHTML = "<h2 style='color: red;'>Tu resultado es de " + points + " puntos</h2>";
        if (noAnswer>0) document.getElementById("noAnswer").innerHTML = "<h2 style='color: red;'>Te faltan por responder " + noAnswer + " preguntas</h2>";
    }
    document.getElementById("clear").onclick = function () { Clear() };
    function Clear() {
        $('input:radio').each(function () {
            this.checked = false;
        });
    }
</script>